<% layout('layouts/boilerplate') %>

    <h1>All Attractions</h1>
    <div>
        <a href="/attractions/new">Add Attraction</a>
    </div>
    <ul>
        <% for (let attraction of attractions) {%>
            <li><a href="/attractions/<%= attraction._id %>">
                    <%= attraction.title %>
                </a></li>
            <% } %>
    </ul>