#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

#indexImage {
    height: 30vh;
    object-fit: cover;
}

#editBack {
    color: black;
}

h4 {
    font-weight: bold;
    color: lightslategray;
}

b {
    text-transform: uppercase;
}

h4,
h5,
p.text-muted,
li.text-muted {
    text-transform: capitalize;
}

body {
    background: #F5B892;
}